.buttons {
  text-align: center;
  margin: 20px 70px 20px 50px;
  background-color: #eb503c;
  font-size: 20px;
  width: 250px;
  font-family: 'DroidSerif', sans-serif;
  font-weight: bold;
	line-height: 3.83;
	letter-spacing: 0.9px;
  color: #efe9d8;
  display: block;
}
