.corevalues2 {
      a {
        padding-top: 30px;
      }
margin: 21px 0px 0px 0px;
background-color: #eb503c;
padding: 0px 21px 21px 21px;
color: #efe9d8;
}

.meetup2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px 0px 50px 26px;
  background-color: white;
}
.corevalues3 {
  margin: 0px 0px 21px 0px;
  background-color: #a13729;
  padding: 0px 21px 21px 21px;
  color: #efe9d8;
}
.corevtitle2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #efe9d8;
  padding: 20px 0px 20px 0px;
}
