.hero {
  width: 100%;
	height: 320px;
  background-image: url("../images/homepage.jpg");
}
.lancasterhero {
  width: 100%;
  height: 153px;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.8px;
  color: #efe9d8;
  padding: 75px 49px 0px 27px;
  font-weight: 900;
}
