.ourmeetupss {
  font-family: 'Lato', serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.8px;
	text-align: left;
	color: #eb503c;
  padding: 27px;
}
.meetups {
  font-family: 'DroidSerif', sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.71;
	letter-spacing: 1px;
	text-align: left;
	color: #4c1a14;
  margin: 0px 27px 0px 27px;
  padding-bottom: 50px;
}
